<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <b><span class="modal-title ok" style="font-size: x-large;" id="exampleModalLabel">Member Details</span></b>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>&nbsp; -->
            <!-- <button type="button" id="close" >close</button> -->
            <!-- <button type="button" closeDetail >close</button> -->
        </div>
        <div class="modal-body">

            <span style="font-size: large;"><b>Name: </b> {{data.f}} {{data.l}}</span>

        </div>
        <div class="modal-body">
            <b>
                <p style="font-size: large;">Occupation:</p>
            </b>
        </div>


        <div class="modal-body">

            <span style="font-size: large;"> <b>Gender: </b>{{data.g}}</span>

            
                <span style="font-size: large;float: right;margin-right: 130px;margin-bottom: 20px;"><b>Work
                    Experience: </b></span>
           
        </div>
        <div class="modal-body">

            <span style="font-size: large;"><b>E-mail: </b>{{data.e}}</span>


        </div>
        <div class="modal-body">

            <p style="font-size: large;"> <b>Member ID:</b> {{data.id}}</p>

        </div>
        <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        <!-- </div> -->
    </div>
</div>